body {
  color: #FFF;
  background-image: url("../images/bg.png");
  background-size: cover;
  font-family: 'Comfortaa', cursive; }

a {
  color: rgba(255, 255, 255, 0.4); }
  a:hover {
    color: rgba(255, 255, 255, 0.8); }

button {
  border-radius: 0px !important; }

.btn-menu {
  padding-right: 10px;
  padding-top: 10px; }

.btn-default {
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  height: 15vh; }
  .btn-default:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #FFF; }

.btn-table {
  margin: 20px 0;
  color: white;
  border: 1px solid white;
  height: 19vh;
  background: rgba(255, 255, 255, 0.4);
  font-size: 6vh; }
  .btn-table:hover {
    background: rgba(255, 255, 255, 0.8); }

.btn-product {
  margin: 20px 0;
  color: white;
  border: 1px solid white;
  height: 12vh;
  background: rgba(255, 255, 255, 0.4);
  font-size: 3vh; }
  .btn-product:hover {
    background: rgba(255, 255, 255, 0.8); }

.btn-occupied {
  background: rgba(133, 171, 203, 0.4); }
  .btn-occupied:hover {
    background: rgba(133, 171, 203, 0.8);
    color: white; }

.panel {
  margin-top: 20px;
  background: transparent;
  border-radius: 0; }
  .panel .panel-body {
    background: rgba(255, 255, 255, 0.4); }
  .panel .panel-footer {
    padding: 10px;
    margin: 0;
    background: rgba(255, 255, 255, 0.4); }

.table td {
  background: rgba(255, 255, 255, 0.8);
  color: #000; }
